@import url("https://fonts.googleapis.com/css?family=Roboto:400,700");
 * {
	 margin: 0;
	 padding: 0;
     font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Helvetica Neue", Arial, sans-serif;

}
 .whole-wrap {
    background-image: url('bg.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
	 display: flex;
	 align-items: center;
	 justify-content: center;
	 height: 100vh;
	 color: #fff;
}
 .profile-wrap {
	 padding: 20px;
	 background-color: #333750;
	 width: 350px;
	 border-radius: 6px;
	 box-shadow: 0 10px 30px rgba(0, 0, 0, .6);
}
 .profile-right-icons {
	 float: right;
}
 .profile-img-wrap {
	 position: relative;
	 width: 120px;
	 margin: 0 auto;
}
 .profile-img-wrap::before {
	 content: '';
	 position: absolute;
	 width: 30px;
	 height: 30px;
	 bottom: 0px;
	 right: 10px;
	 border-radius: 50%;
	 background-image: linear-gradient(120deg, #8b62cc, #e256af);
}
 .profile-img-wrap::after {
	 content: '';
	 position: absolute;
	 border-right: 3px solid #fff;
	 border-bottom: 3px solid #fff;
	 height: 14px;
	 width: 6px;
	 border-radius: 3px;
	 transform: rotate(45deg);
	 bottom: 8px;
	 right: 20px;
}
 .profile-img-wrap img {
	 box-shadow: 0 10px 20px -5px rgba(0, 0, 0, .5);
	 border-radius: 50%;
	 width: 100%;
	 object-fit: cover;
	 height: 120px;
}
 .profile-text-block {
	 text-align: center;
}
 .profile-primary-head {
	 margin-top: 10px;
}
 .profile-primary-head h2 {
	 font-size: 42px;
	 font-weight: 400;
}
 .profile-primary-head p {
	 font-size: 12px;
	 text-transform: uppercase;
	 letter-spacing: 1px;
	 font-weight: 700;
	 color: rgba(255, 255, 255, .4);
}
 .profile-sub-head {
	 font-size: 12px;
	 margin: 10px 0 20px;
	 padding: 0 90px;
	 color: rgba(255, 255, 255, .8);
}
 .hire-btn {
	 padding: 10px 16px;
	 border-radius: 20px;
	 border: 0;
	 background-image: linear-gradient(120deg, #8b62cc, #e256af);
	 font-size: 16px;
	 min-width: 100px;
	 text-decoration: none;
	 display: inline-block;
	 box-shadow: 0 10px 20px -5px rgba(0, 0, 0, .4);
	 color: #fff;
}
 .profile-social-wrap {
	 margin-top: 8%;
	 border-top: 1.5px solid rgba(255, 255, 255, .2);
	 padding: 0 2%;
}
 .row {
	 width: 100%;
	 margin-top: 8%;
}
 .row::after {
	 content: '';
	 display: block;
	 clear: both;
}
 .row [class^="col-"] {
	 width: calc((100% - 2 * 1px) / 3);
	 float: left;
	 text-align: center;
}
 .row [class^="col-"] span {
	 display: inline-block;
	 padding: 9% 15%;
	 border: 1px solid transparent;
	 text-align: center;
	 border-radius: 50px;
	 box-shadow: 0 10px 30px -4px rgba(0, 0, 0, .5);
	 padding-top: 13%;
}
 .row [class^="col-"] label {
	 margin-top: 10%;
	 display: block;
	 margin-bottom: 2%;
	 font-size: 14px;
	 font-weight: bold;
}
 .row [class^="col-"] p {
	 font-size: 10px;
	 color: rgba(255, 255, 255, .6);
}
 .row [class^="col-"]:not(:last-child) {
	 margin-right: 1px;
}
 .icon-dribbble {
	 background-image: linear-gradient(120deg, #ab2b7c, #da4386);
}
 .icon-behance {
	 background-image: linear-gradient(120deg, #0766fd, #3eaaf7);
}
 .icon-fb {
	 background-image: linear-gradient(120deg, #6453f8, #5f95f9);
}
 